################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/packages/NHunspell.1.2.5554.16953
*.suo
/Setup/Debug
/Setup/Release
/.vs
