<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TessVersion" value="4.1.0"/>
    <add key="ReleaseDate" value="2019-7-17"/>
    <add key="Version" value="v5.5.0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
