<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TessVersion" value="4.1.1"/>
    <add key="ReleaseDate" value="2021-11-11"/>
    <add key="Version" value="v5.7.4"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
