<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TessVersion" value="4.00alpha"/>
    <add key="ReleaseDate" value="2018-01-08"/>
    <add key="Version" value="v5.0 alpha"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
